* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.right,
.card-front,
.card-back {
    padding: 0 5vw;
}

main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 900px;
}

.left {
    background-image: url(./interactive-card-details-form-main/images/bg-main-mobile.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 300px;
}

.card-front {
    background-image: url(./interactive-card-details-form-main/images/bg-card-front.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    height: 60%;
    width: 300px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 10%;
    padding: 20px;
    color: white;
}

.card-front img {
    height: 30px;
    margin-bottom: 40px;
}

.bank-name {
    width: 100%;
    height: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bank-number {
    font-size: 24px;
    letter-spacing: 2px;
}

.name-date {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
}

.card-back {
    background-image: url(./interactive-card-details-form-main/images/bg-card-back.png);
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 60%;
    top: 15%;
    right: 5%;
    color: white;
}

.cvc {
    position: absolute;
    top: 43%;
    right: 6%;
}


.right {
    margin-top: 20vw;
    display: flex;
    flex-direction: column;
}

.right h3 {
    font-size: 15px;
    padding-bottom: 2vw;
}

.name {
    padding-bottom: 20px;
}

.card-number {
    padding-bottom: 20px;
}

input {
    height: 12vw;
    width: 100%;
    padding-left: 3vw;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid gray;
}

.date-cvc {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.date {
    width: 50%;
}

.date-number {
    display: flex;
    gap: 20px;
}

.date-number input {
    width: 40%;
}

.cvc-fill {
    width: 50%;
}

.cvc-fill input {
    width: 100%;
}

.warning {
    color: red;
    display: none;
}

button {
    height: 15vw;
    background-color: #24052e;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    max-height: 70px;
}

/* @media (min-width:550px) {
    .card-front {
        height: 35vw;
        width: 75%;
        top: 30vw;
        right: 0vw;
        left: 10vw;
    }

    .card-back {
        width: 75%;
        height: 35vw;
        top: 6vw;
        right: 5vw;
        color: white;
    }

    .right {
        margin-top: 30vw;
    }
} */

@media (min-width: 800px) {

    main {
        display: flex;
        flex-direction: row;
        max-height: 100vh;
    }

    .left {
        background-image: url(./interactive-card-details-form-main/images/bg-main-desktop.png);
        background-size: cover;
        display: flex;
        flex-direction: column;
        width: 30%;
        height: 100vh;
    }

    .card-front {
        height: 17%;
        width: 100%;
        top: 34vw;
        right: 0vw;
        left: 10vw;
    }

    .card-front img {
        height: 40px;
        padding-bottom: 5px;
    }

    .bank-number {
        font-size: 18px;
        letter-spacing: 2px;
    }

    .name-date {
        margin-top: 20px;
        font-size: 10px;
    }

    .card-back {
        height: 17%;
        width: 100%;
        top: 55vw;
        left: 10vw;
        padding: 30px;
    }

    .cvc {
        top: 8vw;
        left: 25vw;
    }

    .right {
        width: 70%;
        padding: 0 15vw;
        display: flex;
        justify-content: flex-start;
    }

    .right h3 {
        padding-bottom: 10px;
    }

    input {
        height: 6vw;
        width: 100%;
        padding-left: 20px;
        font-size: 15px;
    }

    button {
        height: 10vw;
    }
}

@media (min-width: 1300px) {

    main {
        display: flex;
        flex-direction: row;
    }

    .left {
        background-image: url(./interactive-card-details-form-main/images/bg-main-desktop.png);
        background-size: cover;
        display: flex;
        flex-direction: column-reverse;
        width: 30%;
        height: 100vh;
    }

    .card-front {
        height: 15vw;
        width: 100%;
        top: 10vw;
        left: 8vw;
        padding: 30px;
    }

    .card-front img {
        height: auto;
        padding-bottom: 30px;
    }

    .bank-number {
        font-size: 50px;
        letter-spacing: 2px;
    }

    .name-date {
        margin-top: 30px;
        font-size: 15px;
    }

    .card-back {
        height: 15vw;
        width: 100%;
        top: 27vw;
        right: 0vw;
        left: 12vw;
    }

    .cvc {
        top: 7vw;
        left: 22vw;
        font-size: 30px;
    }

    .right {
        width: 70%;
        height: auto;
        padding: 0 18vw;
        display: flex;
        justify-content: center;
    }

    .right h3 {
        padding-bottom: 10px;
    }

    input {
        height: 3vw;
        width: 100%;
        padding-left: 20px;
        font-size: 15px;
    }

    button {
        height: 4vw;
    }
}